body {
	margin: 0 !important;
}

#content, #loading {
	width: 428px;
	height: 496px;
	overflow: auto;
	padding: 2px;
	box-sizing: border-box;
}

#result {
	list-style: none;
	padding: 0;
	margin: 0 0 0 5px;
	-webkit-column-count: 2;
			column-count: 2;
}

.editsection {
	display: none;
}

table {
    width: 424px;
}

#loading {
	cursor: progress;
}
#loading img {
	margin: 232px 0 0 206px;

}

#newTab, #s {
	margin-top: 7px;
}

#topbar {
	background: #eee;
	padding-bottom: 7px;
}
#search, .btn-group  {
	display: inline-block;
}

#s {
	width: 220px;
}

details {
	cursor: default;
}
summary {
	cursor: pointer;
	border-top: 1px solid #e5e5e5;
}
summary h2  {
	display: inline;
	font-weight: 400;
}

#YAWE {
    margin-top: 210px;
    text-align: center;
}

#Timeline-row, #protected-icon {
	display: none;
}