.visually-hidden {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

div.awesomplete {
	display: inline-block;
	position: relative;
}

div.awesomplete > input {
	display: block;
}

div.awesomplete > ul {
	@extend .dropdown-menu;
	display: block;
	min-width: 100%;
	transition: .3s cubic-bezier(.4,.2,.5,1.4);
	transform-origin: 1.43em -.43em;
}

div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
	opacity: 0;
	transform: scale(0);
	display: block;
	transition-timing-function: ease;
}

div.awesomplete > ul > li {
	display: block;
	padding: 3px 10px;
	clear: both;
	font-weight: normal;
	line-height: $line-height-base;
	color: $dropdown-link-color;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;
  }
}

div.awesomplete > ul > li[aria-selected="true"] {
  &,
  &:hover,
  &:focus {
    color: $dropdown-link-active-color;
    text-decoration: none;
    outline: 0;
    background-color: $dropdown-link-active-bg;
  }
}
