body
{
    margin: 0;
}

.dablink, .hatnote
{
    @extend .alert;
    @extend .alert-info;
}

img.tex
{
    @extend code;
}

.thumb
{
    @extend .card;
}
    .thumbinner {
        @extend .card-block;
    }

#loading
{
    height: 600px;

    cursor: progress;
}
#search
{
    width: 220px;
}
details
{
    cursor: default;
}
summary
{
    display: list-item;
    cursor: pointer;
}

.nav-link.btn {
    @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-border-radius);
}

 
#yawe
{
    display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 34rem - 2 * $navbar-padding-y - 1rem * $line-height-base - $dropdown-padding-y;
}
/*
#content
{
    overflow: auto;

    margin-top: $navbar-height;
    padding-top: $line-height-computed;

    @media (width: 458px)
    {
        width: 458px;
        height: 555px - $navbar-height;
    }
}*/

.mw-editsection,
.hlist.navbar.mini
{
    display: none;
}
.progress
{
    margin-top: 277.5px;
}

.progress-bar
{
    width: 100%;
}
.loading
{
    overflow: hidden;
}
.panel-body h2
{
    display: none;
}

.navbar, .navbar-nav {
    flex-direction: row;
}

table
{
    @extend .table;
    @extend .table-striped;
    @extend .table-bordered;
    @extend .table-hover;
    @extend .table-responsive;
}


summary {
    h2 {
        display: inline-block;
    }
}
