body
{
    margin: 0;
}

.dablink, .hatnote
{
    @extend .alert;
    @extend .alert-info;
}

img.tex, .texhtml, .mwe-math-element
{
    @extend code;
    display: inline-block;
}

.container {
    @include make-container();
    @include make-container-max-widths();
}

.thumb
{
    @extend .card;
}
    .thumbinner {
        @extend .card-block;
    }

#loading
{
    height: 600px;

    cursor: progress;
}
#search
{
    width: 220px;
}
details
{
    cursor: default;
}
summary
{
    display: list-item;
    cursor: pointer;
}

summary h2 {
    font-size: $font-size-lg;
}

.nav-link.btn {
    @include button-size(.5rem, 1rem, 1rem, $btn-border-radius);
}

.navbar {
    display: block;
    border-width: 0 0 1px 0;
}
.navbar-nav {
    justify-content: space-between;
}
@media (min-width: nth($grid-breakpoints, 2)) {
    .navbar-nav {
        justify-content: center;
    }
}


.navbar .form-inline {
    padding-top: 0;
    padding-bottom: 0;
}

 
#yawe
{
    display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 34rem - 2 * $navbar-padding-y - 1rem * $line-height-base - $dropdown-padding-y;
}

#content
{
    overflow: auto;
}

.mw-editsection,
.hlist.navbar.mini
{
    display: none;
}
.progress
{
    margin-top: 277.5px;
}

.progress-bar
{
    width: 100%;
}
.loading
{
    overflow: hidden;
}
.panel-body h2
{
    display: none;
}

.navbar, .navbar-nav {
    flex-direction: row;
}

table
{
    @extend .table;
    @extend .table-striped;
    @extend .table-bordered;
    @extend .table-hover;
    @extend .table-responsive;
}


summary {
    h2 {
        display: inline-block;
    }
}
