body
{
    margin: 0;
}

.topbar > a,
.topbar > div,
.topbar form,
.topbar form div,
.topbar form input
{
    display: inline-block;
}

.topbar > a,
.topbar .dropdown > a
{
    color: $navbar-default-link-color;

    @extend .btn;
    &:hover
    {
        color: $navbar-default-link-hover-color;
        background: $navbar-default-link-hover-bg;
    }
}

.topbar > a[disabled],
.topbar .dropdown > a[disabled]
{
    color: $navbar-default-link-disabled-color;
}

.topbar
{
    min-width: 1000px;
}

.page-header,
.navbar-btn
{
    margin-top: 0;
}

.dablink, .hatnote
{
    @extend .alert;
    @extend .alert-info;
}

.thumb
{
  @extend .well;
}

.panel-body .thumb {
  @extend .well-sm;
}

img.tex
{
    @extend code;
}

#loading
{
    height: 600px;

    cursor: progress;
}
#search
{
    width: 220px;
}
details
{
    cursor: default;
}
summary
{
    display: list-item;
    cursor: pointer;
}

#YAWE
{
    margin-top: 233px - $navbar-height - $line-height-computed * 2;

    text-align: center;
}
#content
{
    overflow: auto;

    margin-top: $navbar-height;
    padding-top: $line-height-computed;

    @media (width: 458px)
    {
        width: 458px;
        height: 555px - $navbar-height;
    }
}

.mw-editsection,
.hlist.navbar.mini
{
    display: none;
}
.progress
{
    margin-top: 277.5px;
}

.progress-bar
{
    width: 100%;
}
.loading
{
    overflow: hidden;
}
.panel-body h2
{
    display: none;
}

.navbar .form-group
{
    margin-bottom: 0;
}

details {
    @extend .panel;
    @extend .panel-default;
}

summary {
    @extend .panel-heading;
    h2 {
        @extend .panel-title;
        display: inline-block;
    }
}
