@font-face {
  font-family: 'fontello';
  src: url('../../fonts/fontello.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
 
 .icon-menu:before, .icon-left-open:before, .icon-right-open:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
}
 
.icon-menu:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */