@charset 'UTF-8';

$navbar-padding-x:                  1rem;
$navbar-padding-y:                  .5rem;

$navbar-brand-padding-y:            .25rem;

$navbar-toggler-padding-x:           .75rem;
$navbar-toggler-padding-y:           .25rem;
$navbar-toggler-font-size:           1.25rem;

$enable-grid-classes: false;
$enable-print-styles: false;

// Variables
@import 'variables';

@import 'icons';

@import 'bootstrap';

@import 'awesomeplete';

// Bootswatch
@import 'bootswatch';

// Global stuff
@import 'global';
